.section {
    //background-color: lime;
    grid-row: 3 / 4;
    grid-column: col-start 1 / col-end 7;
    padding: 4rem;

    display: grid;
    grid-template-columns: repeat(5, [col-start] 1fr [col-end]) [menu-start] minmax(max-content, 1fr) [menu-end];

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: repeat(5, [col-start] 1fr [col-end]);
        grid-template-rows: repeat(2, max-content);
    }

    &__content {
        //background-color: burlywood;
        grid-column: col-start 1 / col-end 4;
        display: flex;
        flex-direction: column;

        @media only screen and (max-width: $bp-small) {
            grid-row: 1/2;
            grid-column: 1/-1;
        }

        &__top{
            display: flex;
            align-items: center;

            @media only screen and (max-width: $bp-small) {
                flex-direction: column;
            }

            &__icon{
                height:10rem;
            }

            &__title{
                margin-left: 3rem;
                font-size: 3rem;

                @media only screen and (max-width: $bp-small) {
                    margin-left: inherit;
                    margin-top: 2rem;
                }
            }
        }

        &__main{
            margin-top: 3rem;
            font-size: 1.8rem;

            @media only screen and (max-width: $bp-small) {
                font-size: 1.3rem;
            }

            & ul{
                padding-left: 20px;
            }
        }
    }

    &__menu {
        //background-color: red;
        grid-column: menu-start / menu-end;

        display: flex;
        flex-direction: column;

        margin-top: 3rem;
        font-size: 1.9rem;
        font-weight: 400;
        text-transform: uppercase;

        @media only screen and (max-width: $bp-largest) {
            margin-top: 6rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 1.4rem;
            grid-row: 2/3;
            grid-column: 1/-1;
        }

        &__option {
            text-align: center;
            padding: 1rem 2.5rem;
            margin: 1rem 0;
            cursor: pointer;
            position: relative;
            border-bottom: 1px solid rgba($color-secondary, .4);

            transition: .2s color;

            z-index: 5;
            
            &::before{
                content: '';
                height:100%;
                width:3px;
                position: absolute;
                top:0;
                left:0;
                background-color: $color-primary;
                transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
            }

            &:hover{
                transition-delay: .4s;
                color: #fff;
            }

            &:hover::before{
                width: 100%;
            }

            & span {
                position: relative;
                z-index: 5;
            }
        }
    }

}